@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

:root {
  font-family: 'Work Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Light Theme (Padrão) */
  --color-primary: #1173d4;
  --color-background: #f6f7f8;
  --color-text: #1a1a1a;
  --color-text-secondary: #555;
  --color-border: #ddd;
  --color-background-card: #fff;
}

[data-theme='dark'] {
  --color-background: #101922;
  --color-text: rgba(255, 255, 255, 0.87);
  --color-text-secondary: #aaa;
  --color-border: #444;
  --color-background-card: #1e2935;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
